body{
    /*background-image: url("assets/background.png");*/    background-repeat: none;
    background-position:inherit;
    background-size: cover;
    font-family: 'VT323', monospace;
}

h1{
    font-family: 'Press Start 2P', cursive;
}

#starters{
    /* hides starters when page is opened/refreshed*/
    display: none;
}

#starters img, button{
    max-width: 200px;
    margin-left: 2%;
}

#profOak{
    display: flexbox;
    float: right;
    margin-left: 50%;
}

#starterSelection{
    display: none;
}

form{
    font-size: 30px;
    /* margin-left: 2%;
    margin-right: 30%;  */
    padding-bottom: 2%;
    font-family: 'VT323', monospace;
    text-align: center;
    background-color: #929292;
}

input[type=text]{
    font-family: 'VT323', monospace;
    font-size: 20px;
    background-color: #B6B6B6;
    border: none;
}

#submit{
    background-color: #6C6C6C;
    color: white;
    display: block;
    text-align: center;
    border: none;
    padding: .7% 1.5% .7% 1.5%;
    margin-top: .7%;
    /* margin-left: 43%; */
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
    
}