body{
    background-image: url("assets/background.png");
    background-repeat: none;
    background-position:inherit;
    background-size: cover;
    font-family: 'VT323', monospace;
}

h1{
    font-family: 'Press Start 2P', cursive;
}

#starters{
    /* hides starters when page is opened/refreshed*/
    display: none;
}

#starters img, button{
    max-width: 200px;
    margin-left: 2%;
}