body{
    background-color: black;    
    background-repeat: none;
    background-position:inherit;
    background-size: cover;
    font-family: 'VT323', monospace;
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

#starters, #starterSelection, #storyTxtDiv, #partyDiv, #encounter, #partyFullDiv, #welcome, #btnStart2{
    /* hides other divs when page is opened/refreshed*/
    display: none;
}

button{
    cursor: pointer;
}

#partyImg img{
    max-width: 25%;
    margin: 1.5%;
    margin-left: 2%;
}

#partyDiv{
    margin-right: 83%;
}

#routeImg{
    margin-left: 40%;
    max-width: 15%;
}

#storytxt{
    align-content: center;
    margin-left: 25%;
    margin-right: 25%;
    padding: 2%;
    font-size: 20px;
}

.Continue{
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: #F1FAEE;
    display: none;
    text-align: center;
    border: none;
    padding: .7% 1.5% .7% 1.5%;
    margin-top: .7%;
    margin-left: 43%;
    opacity: 1;
    transition: 0.3s;
}

#img{
    margin-left: 30%;
}

#starters img, button{
    max-width: 200px;
    margin-left: 2%;
}

#popplio{
    background-color: #457B9D;
}

#popplio:hover, #scorbunny:hover, #snivy:hover{
    opacity: .9;
}

#scorbunny{
    background-color: #C24B57;
}

#snivy{
    background-color: #75C45B;
}

#profOak{
    display: flexbox;
    float: right;
}

#formdiv{
    display: flexbox;
    font-size: 30px;
    margin-left: 35%;
    margin-right: 45%; 
    margin-top: 4%;
    padding-bottom: 2%;
    font-family: 'VT323', monospace;
    text-align: center;
    background-color: #929292;
}

input[type=text]{
    font-family: 'VT323', monospace;
    font-size: 20px;
    background-color: #B6B6B6;
    border: none;
}

#submit, #choose,#encounter button{
    font-family: 'VT323', monospace;
    font-size: 20px;
    background-color: #6C6C6C;
    color: black;
    display: block;
    text-align: center;
    border: none;
    padding: .7% 1.5% .7% 1.5%;
    margin-top: .7%;
    margin-left: 43%;
    opacity: 1;
    transition: 0.3s;
}

#starterSelection{
    margin-top: 1%;
    margin-left: 40%;
    margin-right: 40%;
    background-color: #929292;
    padding: .5%;
}

#gameTxtTitle{
    margin-top: 1%;
}

#encounter button{
    color: #F1FAEE;
}

#keep{
    display: "flexbox";
    flex-direction: row;
}

#start{
    color: #F1FAEE;
}